@import'utilities.css';

html,body{
	scroll-behavior: smooth;
	background-image: src="background image.jpeg";
}
header{
	background: black;

	height: 80px;
	
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialias;
}
.container{
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;

}



header nav .left a{
	text-decoration: none;
	color: yellowgreen;
	margin-right: 2rem;

}
header nav .left a:hover{
	color: lightseagreen;
	transition:all .3s;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;


}

header nav{
	padding: 2rem 0;
}
header nav .branding{
	margin-right: 3rem;
}
.me .heading{
	color: darkcyan;
	
}
.me{
	background-color: lightgoldenrodyellow;
	padding: 0 auto;
}
.me .heading h3{
	color: darkblue;
	margin-bottom: 0.5rem;
	margin-left: 2rem;
	font-weight: 1500;
}
.me .heading h1 {
	font-weight: 1000;
	margin-bottom: 1.5rem;
	margin-left: 2rem;


}
.me .heading h1 span{
	color: indianred;
}
.me .heading p{
	margin-left: 2rem;
}
section{
	padding: 40rem 0;
}
section.about h1{
	margin-left: 35rem;
	color: indianred;
	font-weight: 200px;
	font-size: 100px;
}
section.about p{
	color: royalblue;
	font-size: 30px;
}
section.projects h1{
	margin-left: 35rem;
	color: indianred;
	font-size: 100px;
	font-weight: 200px;
}
section.skills h1{
	margin-left: 40rem;
	color: indianred;
	font-size: 100px;
	font-weight: 200px;
}
section.about h3{
	color: black;
	font-size: 80px;
	font-weight: 180px;
}
section.skills .lang ul li{
	display: inline;
	padding: 3rem;
	margin-left: 150px;
	margin-right: 150px ;
	color: burlywood;
	font-size: 50px;
	font-weight: 20px;

}

